body{
  
    margin: 0 auto;
   width: auto;
   
}
.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
    
  
    
}

header{

width: 100%;  
background-color: brown;  
height: 150px;
}

.image{
    width: 150px;
    height: 150px;
  
    margin: 0 auto;
    background-size: cover;
}

.image img{
    width: 100%;
    border-radius: 50%;
    margin-top: 47px;
}

.about{
   text-align: center;
  margin-top: 60px;
  padding-bottom: 1em;
}

h2{
    font-weight: 900;
    margin-top: 60px;
    
}

.about h2{
    color: #646464;
    font-size: 3.8em;
    font-weight: 600;
    font-family: "Lato", sans-serif ;
}

.button{
    margin-top: 40px;
    text-decoration: none;
}

.button a{
    border: 2px solid rgba(255, 103, 68, 0.91);
    border-radius: 50px;
    background: white;
    padding: .8em 2.1em;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
   
   
}

.button a:hover{
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 14px 1px rgb(0 0 0 / 15%);
    background-color: rgba(255, 103, 68, 0.91);
    color: white;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out, color 0.2s 0.3s;

}

.icons{
    margin-top: 30px;
    font-size: 1.2em;
    padding: 0.1em 0.4em;
    
   
}

.icons i{
    color: #8a8a8a;
    width: 30px;
}

.experience{
    margin: 0 auto;
    background-color: #4c6d86;
    padding: 45px 25px;
    text-align: center;
}

.experience h2{
    color: #fff;
    margin-bottom: .7em;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    
}

.experience p{
    font-size: 24px;
    color: white;
}

.experience h3 {
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.experience i {
    color: rgb(255, 138, 89);
    font-size: 55px;
   margin-top: 20px;
    
}


.experience-text ul li{
   list-style: none;
   text-align: center;
   font-family: "Maven pro", sans-serif;
  color: #bbd2ff;
  padding: 2px 5px;
  margin-left: 2px;
  margin-right: 36px;
} 

.experience-align{
   padding: 0 40px;
}

.work-title{
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}

.work-title h2{
    color: rgb(255, 138, 89);
    margin-bottom: 17px;
    font-size: 34px;
    font-weight: 600;
   
}

.work-title p{
    color: #767779;
    font-size: 1.4em;
    margin-bottom: 24px;
    font-weight: 400;
}

.work-description{
    margin-top: 80px;
   
    
}


.work-description h3{
    margin-top:-52px;
    margin-bottom: 45px;
    color: #738182;
}

.visit{
    margin-top: 70px;
}

.work-description p{
    
    color: #c416c4;
    font-family: "Maven pro", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 1.8em;
}

.work-image2 img{
 
    height: 100%;
    width: 90%;

}


.work-image2{
    max-width:90%;
   
    
}




