body{
    background-color: #f8f9fa!important;
}
html {
    scroll-behavior: smooth;
  }


.main-part{
    max-width: 500px;
    width: auto;
    height: 50%;
}

.carouse-div{
    margin-top: 80px;
    
}


.carousel-inner{
    max-width: 400px;
    max-height: 400px;
    height: auto;
    width: 100%;
}

.place{
    padding-left: 30px;
    padding-right: 30px;
}

.photo-title{
    margin-top: 10em;
  
    color: #646464;
}

.card{
    margin: 1rem;
}

.mythoughts{
    margin-top: 108px;
    color: #646464;
}

.img-native{
    min-height: 1px;
    height: 100%;
    max-width: 355px;
    width: 100%;
}

footer{
    margin-top: 108px;
}







@media(min-width:768px){
    .photo-title h3{
        font-size:45px;
    }

    .mythoughts h3{
        font-size:45px;

    }
}


@media(min-width:1024px){
    
.card{
    margin: 3rem;
}
.aes{
    min-height: 267px;
    height: auto;
}

}

@media(max-width:768px){
    .aes{
        min-height: 173px;
        height: auto;
    }
}